/* all section font */
body{
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
}
/* toggle icon color */
.navbar-toggler-icon{
    color: rgb(169, 159, 159);
}
/* for footer */
footer{
    height: 200px;
    margin-top: 150px;
}